apiVersion: v1
kind: Secret
metadata:
  name: secret
  labels:
    app: usmile
    component: secret
data: # use ` echo -n "data" | base64` to encode (space in front means do not save to history)
  TOKEN:
  POSTGRES_USER:
  POSTGRES_PASSWORD:
  BOT_NAME:
stringData:
  ADMINS:
